main {
  margin: 0 100px;
}

#contact_modal {
  display: none;
}

.photograph-section {
  /* display: flex; */
  background-color: #fafafa;
  margin: 1.3em 0;
  padding: 3.2em 3em;
  /* align-items: center; */
}

.photograph-info {
  /* display: grid;
  grid-template-columns: 1.25fr 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-wrapper {
  margin-top: -1.8em;
  /* padding-left: 3.2em; */

  .info-wrapper__name {
    font-size: 4em;
    margin: 43px 0 0 0;
    font-weight: 300;
    color: var(--secondary);
  }

  .info-wrapper__origin {
    color: var(--primary);
    font-size: 1.5em;
    margin: 0px 0 0.8em 0;
  }

  .info-wrapper__tagLine {
    font-size: 1.1em;
  }
}

.info-wrapper:focus {
  outline: none
}

.info-wrapper:focus-visible {
  padding: 4px;
  color: #000;
  border: 4px solid var(--primary);
  border-radius: 4px;
}

.btn-wrapper {
  margin-left: -5em;
  margin-top: 1.8em;
}

.artist-picture--ownpage {
  width: 175%;
  object-fit: cover;
  transform: translate(-22%, -25%);
  border-radius: 50%;
}

.artist-picture--ownpage:focus {
  outline: none
}

.artist-picture:focus-visible {
  transform: scale(1.25);
}

.contact_button,
.send_button {
  font-size: 20px;
  letter-spacing: 0.6px;
  font-weight: bold;
  color: white;
  padding: 11px 0;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.send_button:focus-visible {
  background-color: #eeebd0;
  color: #000;
  border: 4px solid var(--primary);
}

button:focus {
  outline: none;
}

.contact_button:focus-visible,
.contact_button:hover {
  background-color: var(--bg-focus);
  color: #000;
  border: none;
}

.select-label {
  font-size: 1.2em;
}

.gallery-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vh 6vw;
}

.card-picture {
  display: flex;
  flex-direction: column;
  height: 351px;
}

.card-picture:focus {
  outline: none;
}
.card-picture:focus-visible {
  border: 5px solid var(--primary);
}

.media {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.media:focus {
  outline: none;
}
.media:focus-visible {
  outline: 4px solid var(--primary);
  outline-offset: -4px;   /* tire l’outline vers l’intérieur */
  border-radius: 4px;
}
.pic-info-wrapper {
  width: 350px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.likes-div {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.picture__title,
.picture__likes,
.heart-icon {
  color: var(--primary);
  font-size: 24px;
  margin: 10px 0 0 6px;
  cursor: pointer;
}

.picture__title {
  font-weight: 400;
}
.picture__likes {
  font-weight: 500;
}

.heart-icon {
  width: 17.5px;
  height: 18.35px;
  margin-top: 14px;
}
.heart-icon:focus {
  outline: none
}

.heart-icon:focus-visible {
  transform: scale(1.5);
  border-bottom: 2px solid var(--bg-focus) ;
}


.media-info-div {
  position: fixed;
  align-items: center;
  justify-content: space-around;
  display: flex;
  bottom: 0;
  right: 40px;
  width: 376px;
  height: 70px;
  border-radius: 4px 4px 0 0;
  background-color: var(--aside);
  font-weight: 500;
  font-size: 24px;
}

.media-info-div:focus {
  outline: none
 }

 .media-info-div:focus-visible {
  outline: 4px solid var(--primary);
  border-bottom: none;
  outline-offset: -4px;   /* tire l’outline vers l’intérieur */
  border-radius: 4px;
 }

.total-likes-div {
  display: flex;
  align-items: center;
  /* font-weight: 500;
font-size: 24px; */
}

.heart-icon-total {
  color: #000;
  width: 17.5px;
  height: 18.35px;
  padding-left: 3px;
}

.nb-total-likes {
  display: inline-block;
}

/* MODALE  */
#main_wrapper[inert] {
  z-index: 10;
  background-color: #c4c4c4;
  opacity: 40%;
  width: auto;
}

#contact_modal {
  position: fixed;
  z-index: 100;
  top: 55%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: min(38vw, 750px);
  max-height: calc(100vh - 8vh);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 35px;
  margin-bottom: 80px;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  padding-top: 7px;
}

.close-button {
  cursor: pointer;
  padding: 16px;
}

.close-button:focus {
  outline: none;
}

.close-button:focus-visible {
  border: 4px solid var(--primary);
  border-radius: 10%;
}

.modal header h2 {
  font-size: 4em;
  font-weight: normal;
  margin: 9px 0;
  line-height: 1em;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3vh;
}

form label {
  color: #312e2e;
  font-size: 2em;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 7.5vh;
  border: none;
  border-radius: 5px;
  font-size: 2em;
}
textarea {
  font-size: 24px;
  width: 100%;
  /* min-height: 15vh; */
  max-height: 18vh;
  resize: vertical; /* Permet à l'utilisateur d'agrandir en hauteur si besoin */
  padding: 1rem;
  border-radius: 6px;
  box-sizing: border-box;
}

form input:focus-visible,
textarea:focus-visible {
  border: 5px solid var(--primary);
}

form input:focus,
textarea:focus {
  outline: none;
}

label[for="contact_message"] {
  margin-top: 10px;
}

/* LIGHTBOX  */
* body.lightbox-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.lightbox-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* color: transparent; */
  z-index: 99;
}

.lightbox-content {
  position: relative;
  z-index: 101;
  /* border-radius: 5px; */
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); */
}

.close-lightbox {
  position: absolute;
  top: 80px;
  right: 45px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 102;
  font-size: 24px;
  color: #901c1c;
}

.close-lightbox:focus,
.prevButton:focus,
.lightbox-container:focus {
  outline: none;
}

.lightbox-container[tabindex="-1"] {
  outline: none;
}

.close-lightbox:focus-visible {
  border: 4px solid var(--primary);
  border-radius: 10%;
}

.image-section {
  padding: 0 40px;
}

.lightbox-media,
picture .lightbox-media {
  max-width: 85vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 5px;
}

.lightbox-title {
  color: var(--primary);
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
}
.prevButton,
.nextButton {
  border: none;
  background: none;
  cursor: pointer;
}

.prevButton:focus-visible,
.nextButton:focus-visible {
  border: 4px solid var(--primary);
  border-radius: 10%;
}

/* ORDER ASIDE  */

/* .order-menu {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
} */

.reorder-div {
  position: relative;

  /* ??? */
  display: inline-flex;
  gap: 10px;
  /* display: flex; */
  align-items: center;
}

.order-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  height: 69px;
  padding: 0 16px;
  background-color: var(--primary);
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reorder-div[open="true"] .order-menu {
  border-radius: 4px 4px 0 0;
}

.order-menu:focus {
  outline: none;
}
.order-menu:focus-visible {
  background-color: var(--bg-focus);
  color: #000;
}


.extra-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 170px;
  z-index: 1000;
  background-color: var(--primary);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 84px;
}

.reorder-div[open="true"] .extra-options {
  display: flex;
  flex-direction: column;
}


.order-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  padding: 0 16px;
  background-color: var(--primary);
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border: none;
  cursor: pointer;
}



.order-menu:focus-visible .order-option.is-active,
.extra-options [role="option"]:focus-visible {
  background-color: var(--bg-focus);
  border: none;
}
.order-menu:focus .order-option.is-active,
.order-menu:focus {
outline: none;
}



.dropdown-close-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}



.reorder-div[open="true"] .order-option.is-active {
  border-radius: 4px 4px 0 0;
}
.reorder-div[open="true"] .extra-options .order-option:nth-child(2) {
    border-radius:0 0 4px 4px ;
}

.order-option.is-active {
  border-radius: 4px;
}

.dropdown-close-icon {
  margin-left: 10px;
}



.extra-options .order-option:nth-child(1) {
  position: relative;
}

.extra-options .order-option:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: 2px;
  background-color: #fff;
}

.extra-options .order-option:nth-child(1)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  height: 2px;
  background-color: #fff;
}
