@import url("photographer.css");
@import url("lightBox.css");
@import url("modale.css");
@import url("reorderDiv.css");

:root {
  --primary: #901c1c;
  --secondary: #d3573c;
  --bg-focus: #db8876;
  --aside: #db8876;
}

*:focus {
  outline: none
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-top: 22px;
}

.title-photograph {
  color: #901c1c;
  margin-right: 7vw;
  font-size: 36px;
  padding: 8px;
}

.logo {
  height: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 4px 0;
}

a:focus-visible,
.title-photograph:focus-visible {
  box-shadow: inset 0 0 0 3px var(--primary);
  border-radius: 4px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 78px 112px;
  margin-top: 92px;
}

.card-artist {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .artist-name {
    color: #d3573c;
    font-size: 36px;
    font-weight: 400;
    margin: 18px 0 0 0;
    padding-right: 5px;
  }

  .card-artist__country {
    color: #901c1c;
    font-size: 13px;
    font-weight: 400;
    margin: 4px 0 0 0;
    border-bottom: 2px solid transparent;
  }
  .card-artist__tagline {
    color: #000000;
    font-size: 10px;
    font-weight: 400;
    margin: 2px 0 0 0;
    border-bottom: 2px solid transparent;
  }

  .card-artist__price {
    color: #757575;
    font-size: 9px;
    font-weight: 400;
    margin: 2px 0 0 0;
    border-bottom: 2px solid transparent;
  }

  .card-artist__country:focus-visible,
  .card-artist__price:focus-visible,
  .card-artist__tagline:focus-visible {
    border-bottom: 2px solid var(--bg-focus);
  }
}

.img-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.img-wrapper:focus-visible {
  transform: scale(1.15);
  border: 2px solid var(--primary)
}

.artist-picture {
  width: 175%;
  object-fit: cover;
  transform: translate(-22%, -25%);
  border-radius: 50%;
}

.artist-picture[name*="Ellie"],
.artist-picture[name*="Marcel"],
.artist-picture[name*="Rhode"] {
  width: 200%;
  transform: translate(-22%, -2%);
}

.artist-picture[name*="Tracy"] {
  width: 125%;
  transform: translate(-2%, -12%);
}

.link-artist-page {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
}
